[submodule "CA0"]
	path = CA0
	url = https://github.com/kalhorghazal/Clicking-on-Ad-Prediction
[submodule "CA1"]
	path = CA1
	url = https://github.com/kalhorghazal/Snake-and-Foods
[submodule "CA2"]
	path = CA2
	url = https://github.com/kalhorghazal/Logic-Gate-Assignment
[submodule "CA3"]
	path = CA3
	url = https://github.com/kalhorghazal/Sentiment-Analysis-of-Digikala
[submodule "CA4"]
	path = CA4
	url = https://github.com/kalhorghazal/House-Price-Prediction
